.title-connect {
  padding-top: 2.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.title-connect .title-connect__title {
  position: relative;
  color: #f00000;
}
.title-connect .title-connect__title::before {
  background-color: #f00000;
  display: inline-block;
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 5px;
  width: 105px;
}
